html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#bg {
    /*background: url('./assets/bg.jpg') center center no-repeat;*/
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#vis {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
}

#debug {
    position: absolute;
    top: 0; right: 0;
    font-size: 20px;
    pointer-events: none;
}